.hide,
        .flag-dropdown {
            display: none;
        }

        

        .error-box {
            /* CSS ошибки */
            color: #fff;
            background-color: #DE5042;
            border-radius: 5px;
            text-align: center;
            width: 100%;
            font-size: 13px;
            line-height: 20px;
            /*position: absolute;*/
            margin: 0 !important;
            z-index: 100;
        }
    
    .attention {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 30px;
        line-height: 1.3;
        color: #fff;
        background: green;
        z-index: 10000;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .attention p {
        margin: 0;
        padding: 0;
    }

    .attention__close {
        position: absolute;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 5;
        right: 0;
        top: 0;
        margin: 3px;
    }

    .attention__close:hover:before,
    .attention__close:hover:after {
        -webkit-box-shadow: 0 0 10px 1px #fff;
        -moz-box-shadow: 0 0 10px 1px #fff;
        box-shadow: 0 0 10px 1px #fff;
    }

    .attention__close:before {
        content: "";
        width: 30px;
        height: 1px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -2px 0 0 -15px;
    }

    .attention__close:after {
        content: "";
        width: 30px;
        height: 1px;
        background: #fff;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -2px 0 0 -15px;
    }

    
/*foooter css*/
    .ac_footer {
        position: relative;
        top: 10px;
        height: 0;
        text-align: center;
        margin-bottom: 70px;
        color: #A12000;
    }

    .ac_footer a {
        color: #A12000;
    }

    .ac_footer p {
        text-align: center;
    }

    img[height="1"],
    img[width="1"] {
        display: none !important;
    }